/* created variable for dark purple to be reused  */
:root {
    --dark: #261d2f;
}
/* universal selector applies these properties to every element unless specified in specific element */
* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
/* displays background image, sets body element to block to display the elements within it how they are */
body {
    display: block;
    background-image: url("./images/wuwbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* following code supplies particular properties to specific elements, such as colors, flex positioning, and sizing */
header {
    background-image: linear-gradient(to right, var(--dark), var(--dark), #f63f97, #f8a642);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    padding: 1% 0;
}

.wuw {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 35px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    background-color: transparent;
    border: 1px white solid;
    color: chartreuse;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

#search {
    color: chartreuse;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    color: white;
    /* Edge 12-18 */
}

/* setting media query to adjust add responsive sizing to input box and search button */
@media (max-width: 282px) {
    input {
        width: 100%;
    }

    #search {
        width: 100%;
    }
}

/* more styling of colors, spacing, and sizing to other elements */
.btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px 15px;
    margin-left: 1rem;
    text-align: center;
}

/* adding glow effect to buttons */
.btn[type=submit]:hover,
.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: chartreuse;
    box-shadow: inset 0px 0px 5px white, 0 0 8px chartreuse;
    border: none;
    cursor: crosshair;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

#history-ticker {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 10px;
    margin: 1%;
    justify-content: center;
    padding: 0.5%;
}

main {
    display: none;
    justify-content: center;
    padding: 3%;
    color: white;
}

#main-weather {
    flex-basis: 40%;
    margin-right: 2%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

#top-details-container {
    padding-left: 6%;
}

#city {
    flex-basis: 100%;
    text-align: left;
    color: chartreuse;
}

#date {
    flex-basis: 100%;
    white-space: nowrap;
    color: white;
    text-align: left;
}

#temp {
    flex-basis: 100%;
    font-size: 85px;
}

#details-container {
    flex-basis: 100%;
    align-items: center;
}

#humid,
#wind {
    flex-basis: 100%;
    font-size: 3vh;
    white-space: nowrap;
}

#forecast-container {
    flex-basis: 60%;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.forecast-card {
    flex-basis: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), transparent);
    border-radius: 8px;
    display: flex;
    flex: wrap;
    justify-content: space-around;
}

.forecast-top-row {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    padding-left: 12px;
}

.forecast-bot-row {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 5%;
    padding: 3% 0%;
    font-size: 2.5vh;
}

.date {
    flex-basis: 30%;
    text-align: center;
    color: white;
}

.temp {
    flex-basis: 70%;
    text-align: center;
    font-size: 50px;
    margin-left: 20px;
}

.icon {
    flex-basis: 33%;
    margin-bottom: 2px;
}

.humid {
    flex-basis: 33%;
    margin-bottom: 3px;
}

.wind {
    flex-basis: 34%;
}

.icon,
.humid,
.wind {
    font-size: 2.5vh;
}

#card-1,
#card-2,
#card-3,
#card-4 {
    margin-bottom: 1%;
    flex-basis: 100%;
}

/* added media queries to add responsiveness to page in terms of spacing, positioning, and sizing; go into effect at listed widths */
@media (max-width: 415px) {
    #history-ticker {
        justify-content: center;
        align-items: center;
    }

    .fssm {
        margin-left: 0;
        width: 20%;
        font-size: 4vw;
        align-items: center;
        height: 50px;
    }

    main {
        flex-wrap: wrap;
    }

    #main-weather {
        flex-basis: 100%;
        margin: 0px 0px 15px;
    }

    #forecast-container {
        flex-basis: 100%;
    }

}

@media (max-width: 524px) {
    #temp {
        flex-basis: 100%;
        font-size: 70px;
    }

    #details-container {
        flex-basis: 100%;
        padding: 10px 0px;
    }

    .forecast-bot-row {
        text-align: center;
    }

    .forecast-card {
        flex-direction: column;
    }
}