@media (max-width: 175px) {
    #humid, #wind {
        flex-basis: 100%;
        font-size: initial;
        white-space: nowrap;
    }
    #temp {
        font-size: larger;
    }
    #city, #date {
        font-size: initial;
    }

}