:root {
    --dark: #261d2f;

    /* background-repeat: no-repeat; */
}

* {
    /* outline: 3px solid red; */
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--dark);
    /* background-image: linear-gradient(cadetblue, rgb(32, 62, 64), rgb(26, 38, 39));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
}

nav {
    background-image: linear-gradient(to right, var(--dark), var(--dark), #f63f97, #f8a642)
}

.navbar-brand {
    font-family: 'Alumni Sans', sans-serif;
}

.inputry {
    background-color: transparent;
}

input[placeholder=Search]:focus {
    background-color: transparent;
    color: chartreuse;
}

input[placeholder=Search]::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

input[placeholder=Search]::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: white;
}

.btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: chartreuse;
}

.btn[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: chartreuse;
    box-shadow: 0 0 8px chartreuse;
    border: none;
}

.bg-light {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
/* NOTE(S): cant edit text color of placeholder in search box; how to change color of search button and hover?