/*NOTE: Use display: none; use js/display:flex to add them in*/

:root {
    --dark: #261d2f;

    /* background-repeat: no-repeat; */
}

* {
    /* outline: 3px solid red; */
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

body {
    display: block;
    background-color: var(--dark);
}

header {
    background-image: linear-gradient(to right, var(--dark), var(--dark), #f63f97, #f8a642);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* height: 10vh; */
    /* padding: 0 10%; */
    margin-top: 0%;
    /* width: 100%; */
    padding: 1% 0;
    /* font-size: 4.8vw; */
}

.wuw {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    /* text-wrap: nowrap; */
    font-size: 35px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-basis: 30%; */
}

/* .inputry {
    background-color: transparent;
} */
input {
    background-color: transparent;
    border: 1px white solid;
    /* font-size: 2.4vw; */
    /* color: chartreuse; */
    /* font-size: 3vw; */
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}
#search {
      color: chartreuse;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: white;
}

@media (max-width: 282px) {
    input {
        width: 100%;
    }

    #search {
        width: 100%;
        
    }
}

.btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: rgb(170, 167, 174);
    /* height: 100%; */
    /* font-size: 3vw; */
    border-radius: 5px;
    padding: 3px 15px;
    margin-left: 1rem;
    text-align: center;
}

.btn[type=submit]:hover,
.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: chartreuse;
    box-shadow: inset 0px 0px 5px white, 0 0 8px chartreuse;
    border: none;
    cursor: crosshair;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

#history-ticker {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 10px;
    /* font-size: 2.8vh; */
    margin: 1%;
    justify-content: center;
    padding: 0.5%;
}

main {
    display: flex;
    justify-content: center;
    padding: 3%;
    color: white;
}

#main-weather {
    /* outline: 2px chartreuse solid; */
    flex-basis: 40%;
    margin-right: 2%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

#city {
    flex-basis: 100%;
    color: chartreuse;
}

#date {
    flex-basis: 100%;
}

#temp {
    flex-basis: 50%;
    font-size: 70px;
}

#details-container {
    flex-basis: 50%;
    padding: 10px 0px;
}

#humid {
    flex-basis: 100%;
    font-size: smaller;
}

#wind {
    flex-basis: 100%;
    font-size: smaller;
}

#forecast-container {
    flex-basis: 60%;
    /* outline: 2px chartreuse solid; */
    display: flex;
    flex-wrap: wrap;
}

.forecast-card {
    /* outline: 2px white solid; */
    flex-basis: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

#card-1,
#card-2,
#card-3,
#card-4 {
    margin-bottom: 1%;
}

@media (max-width: 415px) {
    #history-ticker {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    .fssm {
        margin-left: 0;
        width: 20%;
        font-size: 4vw;
        align-items: center;
    }

    main {
        flex-wrap: wrap;
    }

    #main-weather {
        flex-basis: 100%;
        margin: 0px 0px 15px;
    }

    #forecast-container {
        flex-basis: 100%;
    }
}